@charset "utf-8";

/*CSS Document */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0px 70px;
    font-family: "Open Sans", "Sans Serif";
    font-weight: 400;
}

body span {
    color: #BDFF00;
}

p span {
    color: #FFFFFF;
    font-style: italic;
}

body h1 {
    font-size: 5em;
    font-weight: 600;
}

body h2 {
    color: #BDFF00;
    font-size: 2.5em;
}

body h3 {
    font-family: "Silkscreen", "monospace";
    font-size: 1.8em;
    color: #BDFF00;
}

body h4 {
    color: #BDFF00;
    font-weight: 500;
    font-size: 1.5em;
}

body p {
    font-size: 1.5em;
}

body img {
    border-radius: 30px;
}

.menu-hamburguesa {
    display: none;
}

/*NAV*/

nav {
    font-family: "Silkscreen", "monospace";
    font-size: 1.5em;
    padding: 30px 0px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 70px;
}

/*FOOTER*/

footer p {
    font-family: "Silkscreen", "monospace";
    font-size: 1em;
    padding: 80px 0px 30px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    font-family: "Silkscreen", "monospace";
    color: #FFFFFF;
    font-size: 1.3em;
    padding: 80px 0px 30px;
    display: flex;
    justify-content: space-between;
}

/*INDEX*/

.body-index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav-index {
    width: 100%;
    justify-content: space-between;
}

.dos-opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dos-opciones a {
    font-size: 1.5em;
    font-weight: 700;
    color: #000000;
    background-color: #BDFF00;
    padding: 15px 30px;
    border-radius: 30px
}

.frase {
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    line-height: 14vh;
}

.contenedor-frase-opciones {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

/*ILUSTRACION*/

/*intro*/

#intro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
}

#intro a {
    color: #000000;
    font-weight: 700;
    background-color: #BDFF00;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
    width: fit-content;
}

/*galeria*/

.galeria-ilustraciones {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 70px 0px;
    overflow: hidden;
}

.columnas-galeria {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

/*hover galeria*/

.light-box {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box:target {
    transform: scale(1);
}

/*X*/

.light-box span {
    position: absolute;
    top: 10px;
    right: 400px;
    font-size: 5em;
    font-weight: 700;
    color: #BDFF00;
    cursor: pointer;
}

/*flechas*/

.next {
    padding: 20px;
}

/*iconos*/

.paquete-iconos {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 90px 0px;
}

/*recomendados*/

.section-recomendados {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px 0px;
}

.contenedor-perfiles {
    display: flex;
    justify-content: space-between;
}

.perfiles-de-ig {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    max-width: 328px;
}

.perfiles-de-ig p {
    font-size: 1.1em;
}

.perfiles-de-ig a {
    background-color: #BDFF00;
    color: #000000;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 20px;
}

/*DISEÑO GRAFICO*/

/*tengo exp en*/

.experiencia li {
    padding: 5px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experiencia h2 {
    padding: 50px 0px 0px 0px;
}

.lista-exp {
    display: flex;
    gap: 60px;
}

/*manejo bien*/

.manejo-bien {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.manejo-bien h2 {
    padding-top: 50px;
}

.manejo-bien p {
    font-size: 1em;
}

.contenedor-programas {
    display: flex;
    gap: 60px;
}

.programas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contenedor-exp-manejo {
    display: flex;
    gap: 150px;
}

/*mis proyectos*/

.cuarteto-video p {
    font-size: 1.3em;
    max-width: 440px;
}

.proyectos h3 {
    text-align: center;
    padding-top: 20px;
}

.proyectos h2 {
    padding-bottom: 35px;
}

/*video*/

.cuarteto-video {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    padding-bottom: 80px;
}

.cuarteto-video video {
    border-radius: 30px;
    border: 2px solid #BDFF00;
}

.proyectos img {
    border-radius: 30px;
    border: 2px solid #BDFF00;
}

.proyectos {
    display: flex;
    flex-direction: column;
}

/*animacion-proyectos*/

.diseños {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.diseños::before {
    content: "ver más";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    border-radius: 30px;
    transform: translateY(100%);
    transition: transform 1s;
    opacity: .8;
    font-family: "Silkscreen", "monospace";
    font-size: 2em;
    color: #BDFF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diseños:hover::before {
    transform: translateY(0);
}

.proyectos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
}

/*SOBRE MI*/

.yo h1 {
    padding-right: 50px;
}

.presentacion {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 30px;
}

.contenedor-rocio-lola {
    display: flex;
    gap: 40px;
    align-items: center;
}

.contenedor-rocio-lola p {
    width: 35%;
}

/*CONTACTO*/

.inicio-contacto p {
    padding-bottom: 25px;
}

/*formulario*/

.formulario h2 {
    color: #000000;
}

.formulario {
    background-color: #BDFF00;
    border-radius: 30px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.formulario p {
    font-size: 1em;
    font-style: italic;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    background-color: #FFFFFF;
    font-family: "Silkscreen", "monospace";
    color: #000000;
    font-size: 1.3em;
    border-radius: 30px;
    padding: 15px 30px;
}

textarea {
    height: 170px;
}

.enviar {
    background-color: #000000;
    font-family: "Open Sans", "Sans Serif";
    font-weight: 700;
    color: #FFFFFF;
}

/*iconos-tres*/

.un-icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.dos-iconos {
    display: flex;
    gap: 25px;
}

.contenedor-form-img {
    display: flex;
    align-items: flex-end;
    gap: 200px;
}

/*******ANIMACIONES*******/

/*titulos*/

h1 {
    animation: mover 1s;
}

@keyframes mover {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

/*iconos*/

.icons {
    animation: girar 3s infinite linear;
}

@keyframes girar {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/*responsive*/

@media screen and (max-width: 600px) {

    body {
        margin: 0px 25px;
    }

    /*NAV*/

    nav {
        font-size: 1.5em;
        padding-bottom: 30px;
    }

    /*FOOTER*/

    footer p {
        font-size: 1.5em;
    }

    footer span {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        padding: 0px 25px;
    }

    #ocultar-responsive {
        display: none;
    }

    /*INDEX*/

    .dos-opciones a {
        font-size: 1.7em;
        padding: 20px 32px;
    }

    .frase img {
        width: 40px;
        height: 40px;
    }

    .frase {
        font-size: 2em;
        line-height: 6vh;
    }

    .dos-opciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contenedor-frase-opciones {
        gap: 80px;
    }

    /*SOBRE MI*/

    .yo h1 {
        padding-right: 0px;
        font-size: 4em;
    }

    .presentacion {
        padding-top: 0;
    }

    .contenedor-rocio-lola {
        flex-direction: column;
        align-items: start;
        gap: 30px;
        padding: 0px 25px;
    }
    
    .contenedor-rocio-lola img {
        width: 500px;
        height: 500px;
    }

    .contenedor-rocio-lola p {
        font-size: 1.8em;
        width: 100%;
    }

    .menu-hamburguesa {
        display: block;
        position: absolute;
        top: 30px;
        right: 35px;
        padding: 0;
    }
}