@charset "utf-8";

/*CSS Document */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body{
    background-color: #000000;
    margin: 0px 70px;
    font-family: "Open Sans", "Sans Serif";
    font-weight: 400;
}

body span {
    color: #BDFF00;
}

p span {
    color: #FFFFFF;
    font-style: italic;
}

body h1 {
    font-family: "Open Sans", "Sans Serif";
    color: #FFFFFF;
    font-size: 5em;
    font-weight: 600;
}

body h2 {
    font-family: "Open Sans", "Sans Serif";
    color: #BDFF00;
    font-size: 2.5em;
}

body h3 {
    font-family: "Silkscreen", "monospace";
    font-size: 2em;
    color: #BDFF00;
}

body h4 {
    font-family: "Open Sans", "Sans Serif";
    color: #BDFF00;
    font-weight: 500;
    font-size: 1.5em;
}

body p {
    font-family: "Open Sans", "Sans Serif";
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.5em;
}

body img {
    border-radius: 30px;
}

/*NAV*/

nav ul {
    font-family: "Silkscreen", "monospace";
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 30px 0px 90px;
    display: flex;
    justify-content: space-between;
}

/*FOOTER*/

footer p {
    font-family: "Silkscreen", "monospace";
    color: #FFFFFF;
    font-size: 1em;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    font-family: "Silkscreen", "monospace";
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 80px 0px 30px;
    display: flex;
    justify-content: space-between;
}

/*INDEX*/

.dos-opciones {
    font-family: "Open Sans", "Sans Serif";
    color: #FFFFFF;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 23% 0%;
}

/*HOME*/
.frase {
    font-size: 6em;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.frase p {
    font-weight: 600;
    text-align: center;
    max-width: 85%;
}

.frase span {
    color: #BDFF00;
    font-style: normal;
}


/*ILUSTRACION*/

/*intro*/

#intro-ilustraciones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}

#intro-ilustraciones a {
    color: #000000;
    font-weight: 700;
    background-color: #BDFF00;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    max-width: 10%;
    border-radius: 30px;
}

#intro-ilustraciones p {
    padding-right: 40%;
}

/*galeria*/

.galeria-ilustraciones {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.primera-columna {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.segunda-columna {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.tercera-columna {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

/*hover-ilustraciones*/

.ilustraciones {
    position: relative;
    overflow: hidden;
}

.ilustraciones::before {
    content: "Titulo";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    transform: translate(100%);
    transition: transform 1s;
    opacity: .7;
    font-family: "Silkscreen", "monospace";
    font-size: 2em;
    color: #BDFF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ilustraciones:hover::before {
    transform: translate(0);
}

/*icon*/

.icons p {
    color: #BDFF00;
    font-size: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0%;
}

/*recomendados*/

.section-recomendados {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px 0px;
}

.contenedor-perfiles {
    display: flex;
    justify-content: space-evenly;
}

.perfiles-de-ig {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.perfiles-de-ig p {
    font-size: 1.1em;
    max-width: 70%;
}

.perfiles-de-ig a {
    color: #000000;
    font-weight: 600;
    background-color: #BDFF00;
    display: flex;
    justify-content: center;
    padding: 12px 25px;
    max-width: 18%;
    border-radius: 30px;
}

/*DISEÑO GRAFICO*/

.experiencia li {
    color: #FFFFFF;
}

/*manejo bien*/

.contenedor-programas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.programas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*mis proyectos*/

.proyectos img {
    border-radius: 30px;
    border: 2px solid #BDFF00;
/* sombra trabajos */
/*
    box-shadow: 20px 20px 0px 0px #BDFF00;
*/
}

/*animacion-proyectos*/

.diseños {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.diseños::before {
    content: "ver más";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    border-radius: 30px;
    transform: translateY(100%);
    transition: transform 1s;
    opacity: .8;
    font-family: "Silkscreen", "monospace";
    font-size: 2em;
    color: #BDFF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diseños:hover::before {
    transform: translateY(0);
}

.proyectos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
}

/*SOBRE MI*/

.yo h1 {
    padding-bottom: 40px;
}

.contenedor-rocio, .contenedor-lola {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.contenedor-rocio p {
    max-width: 50%;
}

.contenedor-lola p {
    max-width: 50%;
}

/*CONTACTO*/

.formulario h2 {
    color: #000000;
}

.formulario {
    background-color: #BDFF00;
    border-radius: 30px;
    max-width: 40%;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea {
    background-color: #FFFFFF;
    font-family: "Silkscreen", "monospace";
    color: #000000;
    font-size: 1.3em;
    border-radius: 30px;
    padding: 15px 30px;
}

textarea {
    height: 170px;
}

.enviar {
    background-color: #000000;
    font-family: "Open Sans", "Sans Serif";
    font-weight: 700;
    color: #FFFFFF;
    max-width: 30%;
}

/*******ANIMACIONES*******/

/*titulos*/

h1 {
    animation: mover 1s;
}

@keyframes mover {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}